.main-content-container-colors {
    background-color: #EFF1F4;
    color: #000;
}

.brand-container-colors {
    background-color: #3F4957;
    color: #fff;
}

.sidebar-container-colors {
    background-color: #4A5564;
    color: #fff;
}

.top-menu-container-colors {
    background-color: #FFF;
}
